@model OrderViewModel
@{
    ViewBag.Title = "My Order";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="d-flex justify-content-center align-items-center">
                <h2 class="text-center">My Order - Total: @String.Format("{0:f2}", Model.Total) BGN</h2>
            </div>
            <div class="d-flex justify-content-end">
                <div class="header-buttons">
                    <a asp-controller="Order" asp-action="Pay" asp-route-id="@Model.Id" class="btn btn-success order"
                       data-method="post">Pay Order</a>
                    <a asp-controller="Order" asp-action="Clear" asp-route-id="@Model.Id" class="btn btn-danger order"
                    data-method="post">Clear Order</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 text-center">
            <hr />
        </div>
    </div>
</div>

@if (Model.OrderItems.Any())
{
    <div class="row">
        @foreach (var item in Model.OrderItems)
        {
            <partial name="_OrderItemPartial" model="@item" />
        }
    </div>
}
else
{
    <h3 class="text-center">You have no items in your current order</h3>
}

<script>
    $(document).ready(function () {
        $(".btn-success.order").click(function (e) {
            e.preventDefault(); 

            var url = $(this).attr("href");

            // Create a new form element
            var form = $("<form>", {
                method: "post",
                action: url
            });

            $(document.body).append(form);
            form.submit();
        });

        $(".btn-danger.order").click(function (e) {
            e.preventDefault(); 

            var url = $(this).attr("href");

            var form = $("<form>", {
                method: "post",
                action: url
            });

            $(document.body).append(form);
            form.submit();
        });
    });
</script>