@model IEnumerable<OrderItemViewModel>

@{
    ViewBag.Title = "Item History";
    decimal sumTotal = Model.Sum(i => i.Total);
    bool showTotal = sumTotal > 0;
    string text = String.Empty;
}

<h2 class="text-center">
    @if (showTotal)
    {
        text = $"-Total: {Math.Round(sumTotal, 2, MidpointRounding.AwayFromZero)} BGN";
    }
    @ViewBag.Title @text
</h2>
<hr />

@if (Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_OrderItemPartial" model="@item" />
        }
    </div>
}
else
{
    <h3 class="text-center">You have not bought any items yet</h3>
}